.form-size {
   width: 1000px;
   height: 450px;
   margin: auto;
   position: relative;
   background-color: #F1F1F1;
 }
 
.inputField {
   width: 375px;
   height: 25px;
 }
 
 .button {
   background-color:lightblue;
   padding: 15px 32px;
   text-align: center;
   margin: 4px 2px;
}

.width400 {
    width: 400px;
}

.form-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.margin-left10px {
  margin-left: 10px;
}

.bg-color {
  background-color: #ECF0F1;
}