<!--The content below is only a placeholder and can be replaced.-->
<p class="header margin5px">Classic Cars</p>
<nav class="nav-bar margin5px">
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/about-us']">About Us</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/cars-for-sale']">Cars For Sale</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/contact-us']">Contact Us</a>
    <a class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/cars-admin']">Admin</a>
</nav>

<router-outlet></router-outlet>
